<% content_for :importmap_tag do %>
  <%= javascript_importmap_tags 'home/minesweeper' %>
<% end %>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>

<h2 class="mt-3">
Minesweeper
</h2>

<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight border">time</div>
  <div class="p-2 bd-highlight border" id="home-face">😀</div>
  <div class="p-2 bd-highlight border">4</div>
</div>

<div>
<% for i in 0..5 do %>
  <div class="d-flex flex-row bd-highlight">
    <% for j in 0..5 do %>
    <button type="button" class="btn btn-secondary cell-size" id="cell<%= "#{i*6+j}" %>"></button>
    <% end %>
  </div>
<% end %>
</div>

<button type="button" class="btn">
  <i class="fa-solid fa-flag"></i>
</button>