<ul class="list-group mt-3">
  <li class="list-group-item p-0" style="border: none;">
    <%= link_to root_path, class: "disable-a-tag link-dark border btn btn-light w-100" do %>
      <div class="d-flex flex-row bd-highlight">
        <div class="p-2 me-2 bd-highlight align-self-center">
          <%= image_tag 'remember-pi/pi.png', width: 25, class: "align-text-middle" %>
        </div>
        <div class="p-2 bd-highlight">
          <h4 class="d-flex justify-content-start">Remember Pi</h4>
          <div class="d-flex justify-content-start">You can check how many digits of pi you have memorized.</div>
        </div>
      </div>
    <% end %>
</ul>