<footer>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="w-100">
        <div class='row mx-auto w-100 bg-dark text-white text-center' style="height: 100px">
          <div class="text-center w-100 mt-auto">
            <a href="https://twitter.com/stu345_self" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://github.com/st34-satoshi/tools" class="ms-1" target="_blank"><i class="fab fa-github fa-lg"></i></a>
          </div>
          <div class="text-center w-100 mt-auto mb-3">
          © 2022 Satoshi Tanaka.
          </div>
        </div>
      </div>
  </nav>
</footer>
